<!DOCTYPE html>
<html>
<head>
	<title>Pac-Man Playa</title>
</head>
<body>
<form action="/player" method="post">
	<input type="text" name="name" placeholder="enter you name">
	<input type="submit" value="Submit">
</form>
</body>
</html>